*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #12121C;
    font-family: Sora;
}
.container{
    border: 3px solid #12121C;
    width: 70%;
    max-width: 1280px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logoText{
    font-weight: normal;
    font-size: 22px;
    color: white;
    line-height: 30px;
}
.navList{
    display: flex;
    align-items: center;
    gap: 35px;
}
.link{
    color: #88888D;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.active{
    color: white;
}
.headerNav{
    display: flex;
}
.headerButton{
    background-color: #222233;
    border: none;
    border-radius: 8px;
    color: white;
    line-height: 16px;
    padding: 14px 24px;
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
}
.titles{
    font-size: 40px;
}
.content1Title{
    font-weight: bold;
    font-size: 60px;
    line-height: 86px;
    color: white;
}
.titleSpan{
    color: #88888D;
}
.titleBlockText{
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    max-width: 830px;
    color: #88888D;
    margin-top: 16px;
    margin-bottom: 32px;
}
.titleBlockButton{
    background-color: #006ADA;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 24px;
}
.content1TitleBlock{
    margin-top: 100px;
}
.card{
    width:350px ;
    height: 205px;
    background-color: #12121C;
    border-radius: 8px;
    padding: 20px;
}
.content1Cards{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    flex-wrap: wrap;
}
/* .cardImage{
    margin: 20px;
} */
.card:hover{
    background-color: #222233;
}
.cardTitle{
    font-weight: 600px;
    color: white;
    margin-top: 4px;
    font-size: 24px;
    line-height: 32px;
}
.cardText{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #88888D;
    margin-top: 16px;
}
.content2Cards{
    margin-top: 80px;
}
.content2card{ 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end; 
    width: 960px; 
    height: 570px; 
    border: none; 
    border-radius: 8px; 
     background-size: contain;
    margin: auto;
    padding: 23px;
} 
.one{ 
    background-image: url('./images/Work Card.png'); 
   
} 
.two{ 
    background-image: url('./images/Work Card (1).png'); 
    margin-top: 80px; 
} 
.three{ 
    background-image: url('./images/Work Card (2).png'); 
    margin-top: 80px; 
} 
.content2cardButton{  
    border: none; 
    border-radius: 8px; 
    padding: 20px; 
    font-weight: 600; 
    font-size: 14px; 
    line-height: 24px; 
    background-color: #222233; 
    color: white; 
    height: 64px; 
    cursor: pointer; 
} 
.arrowIcon{ 
    cursor: pointer; 
} 
.dot{ 
    color: #57EFB4; 
} 
.button1{ 
    width: 430px; 
} 
.button2{ 
    width: 324px; 
} 
.button3{ 
    width: 272px; 
} 
.content3TitleBlock{
    width: 400px;
}
.content3Title{ 
    font-weight: 700px; 
    line-height: 50px; 
    color: white; 
    width: 531px; 
    height: 168px; 
} 
.mainContent3{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 120px; 
} 
.content3Image{ 
    width: 500px; 
    height: 500px; 
} 
.content3paragraph{ 
    font-weight: 400; 
    font-size: 14px; 
    color: #88888D; 
    line-height: 24px; 
} 
.content3paragraph:last-child{
    margin-top: 16px; 
}
.content5Title{ 
    color: white;  
    line-height: 50px; 
    font-weight: 700; 
    width: 600px; 
    height: 168px; 
} 
.percentage{ 
    font-size: 40px; 
    font-weight: 700; 
    width: 100px; 
    line-height: 48px; 
    color: white; 
} 
.content5paragraph{ 
    color: #88888D; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 24px; 
    width: 194px; 
    height: 48px; 
} 
.mainContent5{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 200px; 
} 
.content5TextBlock{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 25px;
} 
.content6Title{ 
    width: 531px; 
    height: 168px; 
    line-height: 50px; 
    font-weight: 700; 
    color: white; 
} 
.content6paragraph{ 
    width: 531px; 
    height: 48px; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 24px; 
    color: #88888D; 
} 
.content6Image{ 
    max-width: 400px; 
} 
.mainContent6{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 200px; 
    margin-bottom: 200px; 
}
.content7Title{ 
    color: white; 
    font-weight: 700; 
    line-height: 50px; 
    width: 440px; 
    height: 168px; 
} 
.content7paragraph{ 
    width: 480px; 
    height: 48px; 
    color: #88888D; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 24px; 
} 
.content7Button{ 
    width: 145px; 
    height: 52px; 
    background-color: #006ADA; 
    color: white; 
    padding: 14px 24px; 
    border: none; 
    border-radius: 8px; 
    gap: 10px; 
    font-size: 16px; 
    line-height: 24px; 
    font-weight: 700; 
    margin-top: 24px; 
    cursor: pointer; 
} 
.mainContent7{ 
    display: flex;  
    justify-content: space-between;
    align-items: center; 
}
.footer{
    background-color: #222233;
    height: 100%;
    justify-content: center;
    margin-top: 100px;
}
.footerLink{
    width: 291px;
    line-height: 24px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px;    
}
.footerNav{
    display: flex;
    flex-wrap: wrap;
}
.footer .container .logoContainer{
    margin-top: 120px;
    margin-bottom: 32px;
}
.footer .container{
    border-color: #222233;
}
.copy{
    color: #88888D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 328px;
}
.footerLastContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}
.footerIcon{
    padding: 9px;
    border-radius: 100%;
    margin: 0px 12px;
}
.footerIcon:hover{
    background-color: #57EFB4;
}
@media (max-width: 1024px){ 
    .card:last-child{ 
        margin-top: 35px; 
    } 
    .content3Image{ 
        max-width: 50%; 
    } 
    .content3Title{ 
        max-width:400px; 
    } 
    .content3paragraph{ 
        max-width: 400px; 
    } 
    .content3TitleBlock{ 
        margin-bottom: 150px;  
    } 
    .content5Title{ 
        max-width: 540px; 
        margin-bottom: 50px; 
    } 
    .content5FirstText{ 
        margin-bottom: 35px; 
    } 
    .content6Title{ 
        max-width: 358px; 
        margin-bottom: 80px; 
         
    } 
    .content6paragraph{ 
        max-width: 358px; 
        margin-top:38px; 
    } 
    .content7paragraph{ 
        max-width: 271px; 
        margin-bottom: 50px; 
    } 
     
} 
@media (max-width: 1024px){ 
    .card{ 
        margin-top: 35px; 
    } 
    .mainContent6{ 
        flex-direction: column; 
    } 
    .mainContent5{ 
        flex-direction: column; 
    } 
    .mainContent7{ 
        flex-direction: column; 
    } 
    .mainContent3{ 
        flex-direction: column; 
    } 
    .content3Image{ 
        max-width: 100%; 
    } 
    .content6Image{ 
        max-width: 100%; 
    } 
    .testimonal{ 
        max-width: 100%; 
        max-height: 260px; 
    } 
    .content5Title{ 
        max-width: 100%; 
        margin-bottom: 48px; 
    } 
}

